/* Variables */
:root {
  --0-op: rgba(18,18,18,1);
  --5-op: rgba(18,18,18,0.95);
  --7-op: rgba(18,18,18,0.93);
  --8-op: rgba(18,18,18,0.92);
  --9-op: rgba(18,18,18,0.91);
  --11-op: rgba(18,18,18,0.89);
  --12-op: rgba(18,18,18,0.88);
  --14-op: rgba(18,18,18,0.86);
  --15-op: rgba(18,18,18,0.85);
  --16-op: rgba(18,18,18,0.84);
  --primary-text-color: rgba(255,255,255,1);
  --secondary-text-color: rgba(255,255,255,0.93);
  --hover-text-color: rgba(255,255,255,0.93);
}

/* Reset content */
body, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Universal */
body {
  background-color: var(--0-op);
}  

/* Header */
header {
  background-color: var(--7-op);
  border-bottom: 1px solid var(--0-op);
  line-height: 4rem;
  font-size: 1.2rem;
}

.site-nav {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: auto;
}

.site-title {
  flex-grow: 1;
}

.nav-menu {
  flex-grow: 8;
}

.nav-end {
  flex-grow: 1;
}
