
  {% include header.html %}
  <main id="index-main">
    {% for post in site.posts %}
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="btn btn-primary">Read article</a>
        </div>
        <div class="card-footer">
          <a href="{{ post.authorUrl }}">{{ post.author }}</a> • {{ post.lastUpdated }}
        </div>
      </div>
    {% endfor %}
  </main>
{% include footer.html %}
